/* CSS by Brendel Stadler
   Last Updated: 2024-06-10
   Description: Styles for the portfolio website
*/
/* Color Palette:
- bright yellow: #FADD00 
- Blue: #00DDFA
- Pink: #FA0080
- Purple: #7A3D5D
- Green: #A59837
- Teal: #3D737A
*/

/* Global (base) Mobile First */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3D737A; /* Teal */
    color: white;
}
header {
    background-color: #A59837; /* Green */
    color: #FA0080; /* Pink */
    padding: 15px;
    text-align: center;
}
h1 {
    color: white; /* Blue */
    font-size: 4em;
}
h2{
    color: #FA0080; /* Pink */
    font-size: 2.5em;
}
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F7F4EF;
    color: #2F2F2F;
    display:grid;
    grid-template-columns: 1fr;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px solid #FA0080;
}

nav a {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    color: #7a3d5d;
    background-color: #00DDFA;
    text-decoration: none;
    padding: 0.5rem;
    text-transform:uppercase;
    justify-content: space-between;
}

nav a:hover {
    background-color: #fa0080;
}

main {
    padding: 1rem;
}

main a {
    background-color: #3D737A;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    text-transform:uppercase;
}

main a:hover {
    background-color: #a59837;
    color: white;
}

section {
    margin-bottom: 2rem;
}

.card-row section {
    background-color: #3D737A;
    border: 1px solid #FA0080;
    padding: 1rem;
}


footer {
    background-color: #a59837;
    color: white;
    text-align: center;
    padding: 1rem;
}/* CSS by Brendel Stadler
   Last Updated: 2024-06-10
   Description: Styles for the portfolio website
*/
/* Color Palette:
- bright yellow: #FADD00 
- Blue: #00DDFA
- Pink: #FA0080
- Purple: #7A3D5D
- Green: #A59837
- Teal: #3D737A
*/

/* Global (base) Mobile First */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3D737A; /* Teal */
    color: white;
}
header {
    background-color: #A59837; /* Green */
    color: #FA0080; /* Pink */
    padding: 15px;
    text-align: center;
}
h1 {
    color: white; /* Blue */
    font-size: 4em;
}
h2{
    color: #FA0080; /* Pink */
    font-size: 2.5em;
}
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #F7F4EF;
    color: #2F2F2F;
    display:grid;
    grid-template-columns: 1fr;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px solid #FA0080;
}

nav a {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    color: #7a3d5d;
    background-color: #00DDFA;
    text-decoration: none;
    padding: 0.5rem;
    text-transform:uppercase;
    justify-content: space-between;
}

nav a:hover {
    background-color: #fa0080;
}

main {
    padding: 1rem;
}

main a {
    background-color: #3D737A;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: inline-block;
    text-transform:uppercase;
}

main a:hover {
    background-color: #a59837;
    color: white;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #a59837;
    color: white;
    text-align: center;
    padding: 1rem;
}